<a href="https://colab.research.google.com/github/KarelZe/adv-ml/blob/main/AML_Bonus_MarkusBilz_2327197_VerenaHollinger_2055134.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#import dependencies
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

# Task 1: Explain dataset and business problems in two paragraphs. (10 points)
...

## Loading the data

In [ ]:
import pandas as pd
from google.colab import drive


drive.mount("/content/drive")

data = pd.read_csv('/content/drive/My Drive/data/accepted_2007_to_2018Q4.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

FileNotFoundError: ignored

In [20]:
import pandas as pd
from google.colab import drive

drive.mount("/content/drive")

data = pd.read_csv('/content/drive/My Drive/AdvancedML/accepted_2007_to_2018Q4.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Task 2: Do an explanatory analysis for this dataset. (10 points)

In [21]:
data.head().T

                              0         1         2         3         4
id                     68407277  68355089  68341763  66310712  68476807
member_id                   NaN       NaN       NaN       NaN       NaN
loan_amnt                  3600     24700     20000     35000     10400
funded_amnt                3600     24700     20000     35000     10400
funded_amnt_inv            3600     24700     20000     35000     10400
...                         ...       ...       ...       ...       ...
settlement_status           NaN       NaN       NaN       NaN       NaN
settlement_date             NaN       NaN       NaN       NaN       NaN
settlement_amount           NaN       NaN       NaN       NaN       NaN
settlement_percentage       NaN       NaN       NaN       NaN       NaN
settlement_term             NaN       NaN       NaN       NaN       NaN

[151 rows x 5 columns]

In [22]:
a_priori_known = ['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',  'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',  'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint']

data = data[a_priori_known]

In [23]:
threshold = 0.80

percentage_missing_val = data.isna().sum()/len(data)
percentage_missing_val = percentage_missing_val[percentage_missing_val >= threshold]

print(percentage_missing_val)
threshold_abs = int(threshold * len(data))

data = data.dropna(axis=1, thresh=threshold_abs)

print(data.shape)

mths_since_last_record       0.841131
annual_inc_joint             0.946605
dti_joint                    0.946607
verification_status_joint    0.948808
revol_bal_joint              0.952218
dtype: float64
(2260701, 75)

In [24]:
data = data[data.loan_amnt.notna()]

Hier hatte ich noch verification status und id ergänzt und purpose, emp_length und term zu den categorical gemacht
addr_state hätte 51 Klassen, viel für OneHotEncoding, aber können wir es sonst überhaupt verwenden?

In [25]:
# convert to categorical
categorical = ['term', 'application_type', 'initial_list_status', 'loan_status', 'grade', 'sub_grade', 'home_ownership', 'verification_status', 'purpose','emp_length']
data[categorical] = data[categorical].apply(lambda x: x.astype('category'))

# convert to string
strs = ['emp_title', 'title', 'zip_code', 'addr_state']
data[strs] = data[strs].apply(lambda x: x.astype('string'))

# convert to datetime
dts = ['earliest_cr_line', 'issue_d', 'last_credit_pull_d']
data[dts] = data[dts].apply(lambda x: pd.to_datetime(x, format="%b-%Y",  errors='coerce'))

# convert to integer
ints = ['id']
data[ints] = data[ints].apply(lambda x: x.astype('int'))

print(data.dtypes)

id                               int64
loan_amnt                      float64
funded_amnt                    float64
funded_amnt_inv                float64
term                          category
                                ...
tax_liens                      float64
tot_hi_cred_lim                float64
total_bal_ex_mort              float64
total_bc_limit                 float64
total_il_high_credit_limit     float64
Length: 75, dtype: object

##Number of classes per categorical feature

In [26]:
data_classes = []
for row in data.columns.tolist():
    data_classes.append({'column': row, 'count': len(data[row].unique())})
amount = pd.DataFrame(data_classes).sort_values('count')
print(amount)

                 column    count
36          policy_code        1
37     application_type        2
4                  term        2
31  initial_list_status        2
13  verification_status        3
..                  ...      ...
72    total_bal_ex_mort   212778
40          tot_cur_bal   487689
9             emp_title   512695
71      tot_hi_cred_lim   529973
0                    id  2260668

[75 rows x 2 columns]

###The features "purpose" and "title" contain similar content. Since "purpose" only contains 14 classes and "title" contains more than 60,000 classes we keep "purpose" and drop "title"

In [27]:
data = data.drop(columns=['title'])

##Analyze loan status

In [28]:
data['loan_status'].value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [29]:
target_list = [1 if i=='Default' or i=='Charged Off' or i=='Does not meet the credit policy. Status:Charged Off' else 0 for i in data['loan_status']]
data['TARGET'] = target_list
data['TARGET'].value_counts()

0    1991308
1     269360
Name: TARGET, dtype: int64

## Data Preprocessing

Since the features have different units, Scaling and Standardization of the numeric features are necessary. And since a Support Vector Machine required data with values between 0 and 1 the Standardization is conducted first.

In [30]:
data_num = data.select_dtypes(include=[np.float64, np.float32])
data_num_columns = data_num.columns
data = data.drop(columns=data_num_columns)

standardizer = StandardScaler()
data_standardized = pd.DataFrame(standardizer.fit_transform(data_num), columns = data_num_columns)
data_standardized.describe()

          loan_amnt   funded_amnt  ...  total_bc_limit  total_il_high_credit_limit
count  2.260668e+06  2.260668e+06  ...    2.210638e+06                2.190392e+06
mean  -9.057489e-14 -1.872652e-14  ...   -6.112952e-15                5.921426e-14
std    1.000000e+00  1.000000e+00  ...    1.000000e+00                1.000000e+00
min   -1.582867e+00 -1.582609e+00  ...   -1.008137e+00               -9.702492e-01
25%   -7.667840e-01 -7.663636e-01  ...   -6.473707e-01               -6.374555e-01
50%   -2.336098e-01 -2.358040e-01  ...   -2.996437e-01               -2.448477e-01
75%    5.389486e-01  5.396293e-01  ...    3.088786e-01                3.343963e-01
max    2.715170e+00  2.716284e+00  ...    6.718982e+01                4.604232e+01

[8 rows x 57 columns]

In [31]:
min_max = MinMaxScaler()
data_scaled = pd.DataFrame(min_max.fit_transform(data_standardized), columns = data_num_columns)
data_scaled.describe()

          loan_amnt   funded_amnt  ...  total_bc_limit  total_il_high_credit_limit
count  2.260668e+06  2.260668e+06  ...    2.210638e+06                2.190392e+06
mean   3.682767e-01  3.681434e-01  ...    1.478252e-02                2.063808e-02
std    2.326644e-01  2.326181e-01  ...    1.466320e-02                2.127091e-02
min    0.000000e+00  0.000000e+00  ...    0.000000e+00                0.000000e+00
25%    1.898734e-01  1.898734e-01  ...    5.289994e-03                7.078824e-03
50%    3.139241e-01  3.132911e-01  ...    1.038878e-02                1.542995e-02
75%    4.936709e-01  4.936709e-01  ...    1.931166e-02                2.775100e-02
max    1.000000e+00  1.000000e+00  ...    1.000000e+00                1.000000e+00

[8 rows x 57 columns]

All categorical values ar binarized using get_dummies

In [32]:
data_cat = data.select_dtypes(include=['category'])
data_cat_columns = data_cat.columns
data_cat_columns

Index(['term', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'verification_status', 'loan_status', 'purpose', 'initial_list_status',
       'application_type'],
      dtype='object')

In [34]:
data = data.drop(columns=data_cat_columns)
data_to_encode = data_cat.drop(columns=['loan_status'])
data_encoded = pd.get_dummies(data_to_encode)
data_encoded

KeyError: ignored

If there are only two classes, they have a correlation of 1, so one class can be dropped without loosing any information

In [35]:
data_encoded = data_encoded.drop(columns=['term_ 60 months', 'initial_list_status_w', 'application_type_Joint App'])
data_encoded

         term_ 36 months  ...  application_type_Individual
0                      1  ...                            1
1                      1  ...                            1
2                      0  ...                            0
3                      0  ...                            1
4                      0  ...                            1
...                  ...  ...                          ...
2260694                0  ...                            1
2260695                0  ...                            1
2260696                0  ...                            1
2260697                0  ...                            1
2260698                0  ...                            1

[2260668 rows x 79 columns]

In [36]:
target = data[['TARGET']]
data = data.drop(columns=['TARGET'])
data = pd.concat([data, data_scaled, data_encoded], axis=1)
data[['Target']] = target
data

                 id  ... Target
0        68407277.0  ...    0.0
1        68355089.0  ...    0.0
2        68341763.0  ...    0.0
3        66310712.0  ...    0.0
4        68476807.0  ...    0.0
...             ...  ...    ...
2260694  89885898.0  ...    0.0
2260695  88977788.0  ...    0.0
2260696  88985880.0  ...    0.0
2260697  88224441.0  ...    1.0
2260698  88215728.0  ...    0.0

[2260699 rows x 144 columns]

In [ ]:
#data_to_encode = data[['term', 'verification_status','application_type']]
#enc = OneHotEncoder()
#df_num = enc.fit_transform(data_to_encode).toarray()
#df_num = pd.DataFrame(df_num)
#df_num

Split the data in test and training data

In [37]:
X = data.iloc[:,:-1]
y = data.iloc[:, -1]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

The data is very imbalanced. Therefore further preprocessing is required

In [1]:
sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_resample(X, y)

NameError: ignored

In [ ]:
from imblearn.over_sampling import RandomOverSampler 
ros = RandomOverSampler(random_state=42)
X_res, y_res = ros.fit_resample(X, y)

ValueError: ignored

To identify similar features and relevant features (high correlation with target feature) a correlation analysis is conducted

In [ ]:
#correlation with target feature
corr = data.corr()['TARGET'].sort_values()
print('Most Positive Correlations:\n',corr.tail(15))
print('\nMost Negative Correlations:\n',corr.head(15))

## Task 3: Use LASSO for variable selection and explain results. (15 points)

## Task 4: Use logistic regression (in-sample) for default prediction. Interpret your results for logistic regression. (20 points)

## Task 5: Compare logistic regression, classification tree, random forest, bagging, support vector machine (with two kernel functions), and neural network for default prediction based on the out-of-sample performance measures (at least three different measures). (35 points)

## Task 6: Which model do you suggest to the peer-to-peer company? Why? (10 points)