<a href="https://colab.research.google.com/github/KarelZe/adv-ml/blob/main/AML_Bonus_MarkusBilz_2327197_VerenaHollinger_2055134.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import dependencies
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

# Task 1: Explain dataset and business problems in two paragraphs. (10 points)
...

## Loading the data

In [3]:
import pandas as pd
from google.colab import drive


drive.mount("/content/drive")

data = pd.read_csv('/content/drive/My Drive/data/accepted_2007_to_2018Q4.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

FileNotFoundError: ignored

In [4]:
import pandas as pd
from google.colab import drive

drive.mount("/content/drive")

data = pd.read_csv('/content/drive/My Drive/AdvancedML/accepted_2007_to_2018Q4.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Task 2: Do an explanatory analysis for this dataset. (10 points)

In [ ]:
data.head().T

                              0         1         2         3         4
id                     68407277  68355089  68341763  66310712  68476807
member_id                   NaN       NaN       NaN       NaN       NaN
loan_amnt                  3600     24700     20000     35000     10400
funded_amnt                3600     24700     20000     35000     10400
funded_amnt_inv            3600     24700     20000     35000     10400
...                         ...       ...       ...       ...       ...
settlement_status           NaN       NaN       NaN       NaN       NaN
settlement_date             NaN       NaN       NaN       NaN       NaN
settlement_amount           NaN       NaN       NaN       NaN       NaN
settlement_percentage       NaN       NaN       NaN       NaN       NaN
settlement_term             NaN       NaN       NaN       NaN       NaN

[151 rows x 5 columns]

In [5]:
a_priori_known = ['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',  'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc',  'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint']

data = data[a_priori_known]

In [6]:
threshold = 0.80

percentage_missing_val = data.isna().sum()/len(data)
percentage_missing_val = percentage_missing_val[percentage_missing_val >= threshold]

print(percentage_missing_val)
threshold_abs = int(threshold * len(data))

data = data.dropna(axis=1, thresh=threshold_abs)

print(data.shape)

mths_since_last_record       0.841131
annual_inc_joint             0.946605
dti_joint                    0.946607
verification_status_joint    0.948808
revol_bal_joint              0.952218
dtype: float64
(2260701, 75)

In [7]:
data = data[data.loan_amnt.notna()]

Hier hatte ich noch verification status und id ergänzt

In [8]:
# convert to categorical
categorical = ['application_type', 'initial_list_status', 'loan_status', 'grade', 'sub_grade', 'home_ownership', 'verification_status']
data[categorical] = data[categorical].apply(lambda x: x.astype('category'))

# convert to string
strs = ['term', 'emp_title', 'emp_length', 'purpose', 'title', 'zip_code', 'addr_state']
data[strs] = data[strs].apply(lambda x: x.astype('string'))

# convert to datetime
dts = ['earliest_cr_line', 'issue_d', 'last_credit_pull_d']
data[dts] = data[dts].apply(lambda x: pd.to_datetime(x, format="%b-%Y",  errors='coerce'))

# convert to integer
ints = ['id']
data[ints] = data[ints].apply(lambda x: x.astype('int'))

print(data.dtypes)

id                              int64
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                           string
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 75, dtype: object

Number of classes per categorical feature

In [9]:
data_classes = []
for row in data.columns.tolist():
    data_classes.append({'column': row, 'count': len(data[row].unique())})
amount = pd.DataFrame(data_classes).sort_values('count')
print(amount)

                 column    count
36          policy_code        1
37     application_type        2
4                  term        2
31  initial_list_status        2
13  verification_status        3
..                  ...      ...
72    total_bal_ex_mort   212778
40          tot_cur_bal   487689
9             emp_title   512695
71      tot_hi_cred_lim   529973
0                    id  2260668

[75 rows x 2 columns]

The features "purpose" and "title" contain similar content. Since "purpose" only contains 14 classes and "title" contains more than 60,000 classes we keep "purpose" and drop "title"

In [13]:
data = data.drop(columns=['purpose'])

##Analyze loan status

In [10]:
data['loan_status'].value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [11]:
target_list = [1 if i=='Default' or i=='Charged Off' or i=='Does not meet the credit policy. Status:Charged Off' else 0 for i in data['loan_status']]
data['TARGET'] = target_list
data['TARGET'].value_counts()

0    1991308
1     269360
Name: TARGET, dtype: int64

## Data Preprocessing

Since the features have different unit a Scaling and Smoothing (Standardisation) of the numeric features is necessary

In [12]:
data_num = data.select_dtypes(include=[np.float64, np.float32])
min_max = MinMaxScaler()
data_scaled = pd.DataFrame(min_max.fit_transform(data_num))

# result is not a DataFrame anymore...
data_scaled

               0         1       2   ...        54        55        56
0        0.078481  0.078481  0.0900  ...  0.002273  0.001530  0.006481
1        0.612658  0.612658  0.6175  ...  0.011583  0.050542  0.011641
2        0.493671  0.493671  0.5000  ...  0.005486  0.003952  0.007021
3        0.873418  0.873418  0.8750  ...  0.015324  0.039834  0.008495
4        0.250633  0.250633  0.2600  ...  0.028100  0.012938  0.041575
...           ...       ...     ...  ...       ...       ...       ...
2260663  0.594937  0.594937  0.6000  ...  0.030639  0.000000  0.024548
2260664  0.594937  0.594937  0.6000  ...  0.041113  0.017782  0.081304
2260665  1.000000  1.000000  1.0000  ...  0.008333  0.007839  0.020137
2260666  0.594937  0.594937  0.6000  ...  0.018317  0.013193  0.027732
2260667  0.341772  0.341772  0.3500  ...  0.012974  0.006055  0.016125

[2260668 rows x 57 columns]

## Task 3: Use LASSO for variable selection and explain results. (15 points)

## Task 4: Use logistic regression (in-sample) for default prediction. Interpret your results for logistic regression. (20 points)

## Task 5: Compare logistic regression, classification tree, random forest, bagging, support vector machine (with two kernel functions), and neural network for default prediction based on the out-of-sample performance measures (at least three different measures). (35 points)

## Task 6: Which model do you suggest to the peer-to-peer company? Why? (10 points)